<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuya Smart Web App</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <style>
        body {
            background-color: #333333;
            color: #FFFFFF;
        }
    </style>
</head>
<body>
<h1>Devices</h1>
<ul id="device-list">
    {% for device in devices_db %}
        <li>
            <input type="checkbox" class="device-toggle" data-device-id="{{ device.id }}" {% if device.status[0].value %}checked{% endif %}>
            {{ device.customName }} ({{ device.id }})
        </li>
    {% endfor %}
</ul>
<br>
<form action="{{ url_for('logout') }}" method="POST">
    <input type="submit" value="Logout">
</form>
<form action="{{ url_for('add_device') }}" method="GET">
    <button type="submit">Add Device</button>
</form>
</body>
</html>