<!DOCTYPE html>
<html>
<head>
    <title>Pyrebase-Flask-Login</title>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form action="{{ url_for('login') }}" method="POST">
            <input type="email" id="login" class="fadeIn second" name="email" placeholder="email" autocomplete="email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" autocomplete="current-password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        <!-- Form to navigate to the registration page -->
        <form action="{{ url_for('register') }}" method="GET">
            <button type="submit">Register</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
</body>
</html>
